<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--配置全局参数，在jsp页面中可以使用application获取-->
    <context-param>
        <param-name>data1</param-name>
        <param-value>value1</param-value>
    </context-param>
    <context-param>
        <param-name>data2</param-name>
        <param-value>value2</param-value>
    </context-param>
</web-app>